<div class="my-fluid-container">
	<div class="row">
		<div class="col-md-4">
			<%= image_tag(@developer.image.url(:large)) %>
		</div>
		<div class="col-md-8">
			<h3>Company financials</h3>
			<table>
				<tbody>
					<tr>
						<td>
							Revenue
						</td>
						<td>
							<%= %>
						</td>
					</tr>
					<tr>
						<td>
							Total equity
						</td>
						<td>
							<%= %>
						</td>
					</tr>
				</tbody>
			</table>
			<p>According to the R&amp;P database, <%= @developer.name %> has a total of <%= number_with_delimiter(@projects_total_gfa) %> sq m across <%= Project.where(:developer_id => @developer.id).size %> retail projects in Mainland China</p>
		</div>
	</div><!-- end of class row -->
	<div class="row">
		<div class="col-md-12">
			<%= render 'map' %>
		</div>
	</div> <!-- End of row-->
	<div class="row">
		<div class="col-md-12">
			<h3>Projects by developer <%= @developer.name %></h3>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Project</th>
						<th>City</th>
						<th>District</th>
						<th>GFA</th>
						<th>Opening</th>
					</tr>
				</thead>
				<tbody>
					<% @projects.each do |project| %>
					<tr>
				        <td style="vertical-align:middle;"><%= image_tag(project.image.url(:small), :class => "img-thumbnail") %>  <%= link_to project.name, project %></td>
						<td style="vertical-align:middle;"><%= link_to project.city.name, project.city %></td>
						<td style="vertical-align:middle;"><%= link_to project.district.name, city_district_path(project.city, project.district)%></td>
						<td style="vertical-align:middle;"><%= number_with_delimiter(project.gfa, :delimiter => ',') %></td>
						<td style="vertical-align:middle;"><%= project.opening_year %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div><!-- end of row -->
	<div class="row">
		<div class="col-md-10">
			<h3><%= @developer.name %> news headlines</h3>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Title</th>
						<th>Publication</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>
					<% @articles.each do |article| %>
					<tr>
						<td><%= link_to article.title, article %></td>
						<td><%= article.publication %></td>
						<td><%= article.publication_date %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>

<script>

	window.onload = ready;

</script>