<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

			<h1>Listing articles</h1>
			<table class="table table-hover">
				<thead>
					<th>Article</th>
					<th>Publication</th>
					<th>Date</th>
				</thead>
				<tbody>			
					<% @articles.each do |article| %>
					<tr>
						<td><%= link_to article.title, article %></td>
						<td><%= article.publication %></td>
						<td><%= article.publication_date %></td>
					</tr>
					<% end %>
				</tbody>
			</table>