<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="col-xs-8">
				<h1>Listing articles</h1>
			</div>
			<div class="col-xs-4">
				<%= form_tag articles_path, :method => 'get' do %>
				  <p>
				    <%= text_field_tag :search, params[:search] %>
				    <%= submit_tag "Search", :name => nil %>
				  </p>
				<% end %>
			</div>
		</div><!-- end of col-md -->
	</div><!-- end of row -->
	<div class="row">
		<div class="col-md-12">
			<%= render 'articles' %>
			<%= will_paginate @articles %>
		</div>
	</div> <!-- end of the row -->
</div> <!-- end of container -->