<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this city from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
    <div>
    <%= f.label :city_id %>
    <%= f.collection_select(:city_id, City.all, :id, :name, prompt: true) %>
  </div>
  <div>
    <%= f.label :district %>
    <%= f.collection_select(:district_id, District.where(city_id: :city_id), :id, :name, prompt: true) %>
  </div>
    <div>
    <%= f.label :developer_id %>
    <%= f.collection_select(:developer_id, Developer.all, :id, :name, prompt: true) %>
  </div>
  <div>
    <%= f.label :turnover %>
    <%= f.text_field :turnover %>
  </div>
  <div>
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>
  <div>
    <%= f.label :gfa %>
    <%= f.text_field :gfa %>
  </div>
  <div>
    <%= f.label :parking %>
    <%= f.text_field :parking %>
  </div>
  <div>
    <%= f.label :tenants %>
    <%= f.text_area :tenants %>
  </div>
  <div>
    <%= f.label :longitude %>
    <%= f.text_field :longitude %>
  </div>
  <div>
    <%= f.label :lattitude %>
    <%= f.text_field :lattitude %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>