<%= form_for @project, html: { multipart: true } do |f| %>

  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this city from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control'  %>
  </div>
  <div class="field">
    <%= f.label :city_id %>
    <%= f.collection_select(:city_id, City.all, :id, :name, prompt: true) %>
  </div>
  <div class="field">
    <%= f.label :district %>
    <%= f.collection_select(:district_id, District.where(city_id: @project.city_id), :id, :name, prompt: true) %>
  </div>
  <div class="field">
    <%= f.label :developer_id %>
    <%= f.collection_select(:developer_id, Developer.all, :id, :name, prompt: true) %>
  </div>
  <div class="field">
    <%= f.label :turnover %>
    <%= f.text_field :turnover, class: 'form-control'  %>
  </div>
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address, class: 'form-control'  %>
  </div>
  <div class="field">
    <%= f.label :gfa %>
    <%= f.text_field :gfa, class: 'form-control'  %>
  </div>
  <div class="field">
    <%= f.label :parking %>
    <%= f.text_field :parking, class: 'form-control'  %>
  </div>
  <div class="field">
    <%= f.label :tenants %>
    <%= f.text_area :tenants, class: 'form-control'  %>
  </div>
  <div class="field">
    <%= f.label :longitude %>
    <%= f.text_field :longitude, class: 'form-control'  %>
  </div>
  <div class="field">
    <%= f.label :lattitude %>
    <%= f.text_field :lattitude, class: 'form-control'  %>
  </div>
  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, html: { class: 'form-control'} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>