<div class="container">
  <div class="row">
    <div class="col-md-8">


<h1>Listing <%= @city.name %> real estate data</h1>

<p>Residential index data</p>
<table class="table table-hover">
  <thead>
    <tr>
            <th>Period</th>
            <th>New constructed residential</th>
            <th>Secondary residential</th>

    </tr>
  </thead>
  <tbody>
    <% @estates.each do |estate| %>
    <tr>
      <td>
        <%= estate.timeperiod.strftime("%Y %B") %>
      </td>
      <td>
        <%= estate.new_constructed_residential %>
      </td>
      <td>
        <%= estate.secondary_residential %>
      </td>
      <td>
        <%= link_to 'Edit', edit_city_estate_path(@city, estate) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>


<p>Real estate investment</p>
<table class="table table-hover">
  <thead>
    <tr>
            <th>Period</th>
            <th>Residential</th>
            <th>Commercial</th>

    </tr>
  </thead>
  <tbody>
    <% @estates.each do |estate| %>
    <tr>
      <td>
        <%= estate.timeperiod.strftime("%Y %B") %>
      </td>
      <td>
        <%= estate.re_investment_residential %>
      </td>
      <td>
        <%= estate.re_investment_commercial %>
      </td>
      <td>
        <%= link_to 'Edit', edit_city_estate_path(@city, estate) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>


<br/>

<p>Floor space started</p>
<table class="table table-hover">
  <thead>
    <tr>
            <th>Period</th>
            <th>Residential</th>
            <th>Commercial</th>

    </tr>
  </thead>
  <tbody>
    <% @estates.each do |estate| %>
    <tr>
      <td>
        <%= estate.timeperiod.strftime("%Y %B") %>
      </td>
      <td>
        <%= estate.floor_space_started_residential %>
      </td>
      <td>
        <%= estate.floor_space_started_commercial %>
      </td>
      <td>
        <%= link_to 'Edit', edit_city_estate_path(@city, estate) %>
      </td>

    </tr>
    <% end %>
  </tbody>
</table>

<br/>


<p>Floor space under construction</p>
<table class="table table-hover">
  <thead>
    <tr>
            <th>Period</th>
            <th>Residential</th>
            <th>Commercial</th>

    </tr>
  </thead>
  <tbody>
    <% @estates.each do |estate| %>
    <tr>
      <td>
        <%= estate.timeperiod.strftime("%Y %B") %>
      </td>
      <td>
        <%= estate.floor_space_under_construction_residential %>
      </td>
      <td>
        <%= estate.floor_space_under_construction_commercial %>
      </td>
      <td>
        <%= link_to 'Edit', edit_city_estate_path(@city, estate) %>
      </td>

    </tr>
    <% end %>
  </tbody>
</table>

<br/>


<p>Floor space completed</p>
<table class="table table-hover">
  <thead>
    <tr>
            <th>Period</th>
            <th>Residential</th>
            <th>Commercial</th>

    </tr>
  </thead>
  <tbody>
    <% @estates.each do |estate| %>
    <tr>
      <td>
        <%= estate.timeperiod.strftime("%Y %B") %>
      </td>
      <td>
        <%= estate.floor_space_completed_residential %>
      </td>
      <td>
        <%= estate.floor_space_completed_commercial %>
      </td>
      <td>
        <%= link_to 'Edit', edit_city_estate_path(@city, estate) %>
      </td>

    </tr>
    <% end %>
  </tbody>
</table>

<br/>


<p>Floor space sold</p>
<table class="table table-hover">
  <thead>
    <tr>
            <th>Period</th>
            <th>Residential</th>
            <th>Commercial</th>

    </tr>
  </thead>
  <tbody>
    <% @estates.each do |estate| %>
    <tr>
      <td>
        <%= estate.timeperiod.strftime("%Y %B") %>
      </td>
      <td>
        <%= estate.floor_space_sold_residential %>
      </td>
      <td>
        <%= estate.floor_space_sold_commercial %>
      </td>
      <td>
        <%= link_to 'Edit', edit_city_estate_path(@city, estate) %>
      </td>

    </tr>
    <% end %>
  </tbody>
</table>


    </div> <!-- end col-md -->
  </div>
</div> <!-- end container -->