<div class="container">
  <div class="col-md-12">

<h4>Real estate data for <%= @estate.timeperiod.strftime("%B %Y") %> </h4>

<table class="table table-hover">
	<thead>
	</thead>
	<tbody>
		<tr>
			<td>
				New constructed residential
			</td>
			<td><%= @estate.new_constructed_residential %></td>
		</tr>
		<tr>
			<td>
				Secondary residential
			</td>
			<td><%= @estate.secondary_residential %></td>
		</tr>
		<tr>
			<td>
				Real estate investment residential
			</td>
			<td><%= @estate.re_investment_residential %></td>
		</tr>
		<tr>
			<td>
				Real estate investment commercial
			</td>
			<td><%= @estate.re_investment_commercial %></td>
		</tr>
		<tr>
			<td>
				Floor space started residential 
			</td>
			<td><%= @estate.floor_space_started_residential %></td>
		</tr>
		<tr>
			<td>
				Floor space started commercial
			</td>
			<td><%= @estate.floor_space_started_commercial %></td>
		</tr>
		<tr>
			<td>
				Floor space under construction residential
			</td>
			<td><%= @estate.floor_space_under_construction_residential %></td>
		</tr>
		<tr>
			<td>
				Floor space under construction commercial
			</td>
			<td><%= @estate.floor_space_under_construction_commercial %></td>
		</tr>
		<tr>
			<td>
				Floor space completed residential
			</td>
			<td><%= @estate.floor_space_completed_residential %></td>
		</tr>
		<tr>
			<td>
				Floor space completed commercial
			</td>
			<td><%= @estate.floor_space_completed_commercial %></td>
		</tr>
		<tr>
			<td>
				Floor space sold residential
			</td>
			<td><%= @estate.floor_space_sold_residential %></td>
		</tr>
		<tr>
			<td>
				Floor space sold commercial
			</td>
			<td><%= @estate.floor_space_sold_commercial %></td>
		</tr>
		<tr>
			<td>
				Building sold residential
			</td>
			<td><%= @estate.building_sold_residential %></td>
		</tr>
		<tr>
			<td>
				Building sold commercial
			</td>
			<td><%= @estate.building_sold_commercial %></td>
		</tr>
	</tbody>
</table>

<%= link_to 'Back', city_estates_path %>

</div>
</div>