<%= form_for([@city, @district]) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :grade %><br />
    <%= f.text_field :grade %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit' %>
  </div>
<% end %>