<div class="my-fluid-container">
	<div class="row">

		<div class="col-md-2">
			<h1><%= @district.name %></h1>
			<p><%= number_with_delimiter(@projects_total_gfa) %> sq m of competitive retail space in this district</p>
		</div>
		<div class="col-md-10">

			<table class="table table-hover">
				<thead>
					<tr>
						<th>Project</th>
						<th>Developer</th>
						<th>GFA</th>
						<th>Tenants</th>
					</tr>
				</thead>
				<tbody>
					<% @projects.each do |project| %>
					<tr>
						<td><%= link_to image_tag(project.image.url(:small), :class => "img-thumbnail"), project %>  <%= link_to project.name, project %></td>
						<td><%= link_to project.developer.name, project.developer %></td>
						<td><%= number_with_delimiter(project.gfa, :delimiter => ',') %></td>
						<td><%= project.tenants %></td>
					</tr>
					<% end %>
				</tbody>
			</table>

		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<%= render 'map' %>
		</div> 
	</div><!--end of class row -->
</div>

<script>
window.onload = ready
</script>