<div class="my-fluid-container">
 <h2><%= @district.name %></h2>
	<p>According to the R&amp;P DB, there is a total of <%= number_with_delimiter(@projects_total_gfa) %> sq m of competitive retail space in this district</p>
	<div class="row">
		<div class="col-md-6">
			<table>
				<thead>

				</thead>
				<tbody>
					<%= @projects.each do |project| %>
					<tr>
						<td>
							<%= link_to image_tag(project.image.url(:large), :class => "img-thumbnail"), project %>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class="col-md-6">

		</div>
	</div><!-- end of class row -->
	<div class="row">
		<div class="col-md-12">
			<%= render 'map' %>
		</div> 
	</div><!--end of class row -->
</div>

<script>
window.onload = ready
</script>