<div class="container">
  <div class="col-md-6">

  <ul>
  	<li><%= @city.name %></li>
  	<li><%= @category.title %></li>
  	<li><%= @city_fact.value %></li>

  </ul>

<%= link_to 'Show', @city %> |
<%= link_to 'Back', cities_path %>

</div>
</div>