<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= link_to 'New City', new_city_path %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Rank</th>
            <th>City</th>
            <th>Project count</th>
            <th>Total GFA</th>
            <th>admin</th>
          </tr>
        </thead>

        <tbody>
          <% @cities.each do |city| %>
            <tr>
              <td style="vertical-align:middle;"><%= city.rank %></td>
              <td style="vertical-align:middle;"><%= image_tag(city.image.url(:small), :class => "img-thumbnail") %>  <%= link_to city.name, city %></td>
              <td style="vertical-align:middle;"><%= Project.where(:city_id => city.id).size %></td>
              <td style="vertical-align:middle;"><%= number_with_delimiter(Project.where( :city_id => city.id ).sum :gfa) %></td>
              <td style="vertical-align:middle;"><%= link_to 'Edit', edit_city_path(city) %> | <%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div> <!-- end col-md -->
  </div> <!-- end of row -->
</div> <!-- end container -->