<div class="my-fluid-container">
	<div class="row">
		<div class="col-md-4">
			<%= image_tag(@city.image.url(:large), :class => "img-thumbnail") %>
		</div>
		<div class="col-md-8">
			<p>According to the R&amp;P database, <%= @city.name %> has a total of <%= number_with_delimiter(@projects_total_gfa) %> sq m of retail space</p>
			<div>
				<h3>Retail projects</h3>
			</div>
			<table class="table table-hover" id="project_list">
				<thead>
					<tr>
						<th>Project</th>
						<th>Developer</th>
						<th>District</th>
						<th>GFA</th>
					</tr>
				</thead>
				<tbody>
					<% @projects.each do |project| %>
					<tr class="entry">
						<td><%= link_to project.name, project, class: "searchable" %></td>
						<td><%= link_to project.developer.name, project.developer %></td>
						<td><%= link_to project.district.name, city_district_path(@city, project.district) %></td>
						<td><%= number_with_delimiter(project.gfa) %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div> <!-- end row div -->
	<div class="row">
		<div class="col-md-12">
			<%= render 'map' %>
		</div>
	</div> <!-- End of row -->
	<div class="row">
		<div class="col-md-12">
				<h3>Retail districts</h3>
							<p><%= link_to pluralize(@city.districts.size, 'districts'), city_districts_path(@city) %></p>
					<table class="table table-hover">
						<thead>
							<tr>
								<th>District</th>
								<th>Population</th>
								<th>Grade</th>
							</tr>
						</thead>
						<tbody>
							<% @districts.each do |district| %>
							<tr>
								<td><%= link_to district.name, [district.city, district] %></td>
								<td><%= district.population %></td>
								<td><%= district.grade %></td>
							</tr>
							<% end %>
						</tbody>
					</table>

				<h3>Most recent real estate data</h3>

					<table class="table table-hover">
						<thead>
							<tr>
								<th>Period</th>
								<th>New Constructed Residential</th>
								<th>Secondary Residential</th>
								<th>Real Estate Investment (Commercial)</th>
								<th>Real Estate Investment (Residential)</th>
							</tr>
						</thead>
						<tbody>

						</tbody>
					</table>
		</div>
	</div> <!-- End of row -->

	<div class="row">
		<div class="col-md-12">

		</div>
	</div> <!-- End of row -->

</div> <!-- End of container -->

<script>

	window.onload = ready;

</script>