<div class="container">
	<div class="row">
	  <div class="col-md-12">
	    <h2><%= @city.name %><p>
	    <%= link_to 'Edit', edit_city_path(@city) %> |
		<%= link_to 'Back', cities_path %></p>
	</h2>
	  </div>
	</div>
	<div class="row">
		<div class="col-md-7">
			<h3>Retail projects</h3>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Project</th>
						<th>Developer</th>
						<th>District</th>
					</tr>
				</thead>
				<tbody>
					<% @projects.each do |project| %>
					<tr>
						<td><%= link_to project.name, project %></td>
						<td><%= link_to project.developer.name, project.developer %></td>
						<td><%= link_to project.district.name, city_district_path(@city, project.district) %></td>



					</tr>
					<% end %>
				</tbody>
			</table>

				<h3>Retail districts</h3>
							<p><%= link_to pluralize(@city.districts.size, 'districts'), city_districts_path(@city) %></p>
					<table class="table table-hover">
						<thead>
							<tr>
								<th>District</th>
								<th>Population</th>
								<th>Grade</th>
							</tr>
						</thead>
						<tbody>
							<% @districts.each do |district| %>
							<tr>
								<td><%= link_to district.name, [district.city, district] %></td>
								<td><%= district.population %></td>
								<td><%= district.grade %></td>
							</tr>
							<% end %>
						</tbody>
					</table>

				<h3>Most recent real estate data</h3>
					<table class="table table-hover">
						<thead>
							<tr>
								<th>New Constructed Residential</th>
								<th>Secondary Residential</th>
								<th>Real Estate Investment (Commercial)</th>
								<th>Real Estate Investment (Residential)</th>
							</tr>
						</thead>
						<tbody>
							<% @re_data.each do |data| %>
							<tr>
								<td><%= link_to data.new_constructed_residential %></td>
								<td><%= link_to data.secondary_residential %></td>
								<td><%= link_to data.re_investment_commercial %></td>
								<td><%= link_to data.re_investment_commercial %></td>
							</tr>
							<% end %>
						</tbody>
					</table>
		</div>
		<div class="col-md-5">
			<div id="allmap"></div>
		</div>
	</div> <!-- end row div -->
</div> <!-- End of container -->


    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=BF934346e7e1c13620f7d9de908ed808"></script>

    <script type="text/javascript">
    	createMap(<%= @city.longitude %>, <%= @city.lattitude %>, 11, gon.projects);
    </script>